@media (min-width: 820px) {
    header {
        height: var(--header-height);
        display: flex;
        flex-direction: row;
        margin-bottom: 1.5rem;
    }

    .upper-section{
        flex: 1;
        display: flex;
        flex-direction: row;
    }

    .lower-section{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex: 3;
        /* gap: 1.5rem; */
        margin-right: 1rem;
    }

    .open{
        height: var(--header-height);
    }

    .nav-opt{
        font-size:large;
        margin-left: 1.5rem;
    }

    .nav-list{
        display: flex;
        flex-direction: row;
    }
    
    .fa-bars{
        display: none;
    }

    .startPage{
        height: 20rem;
    }

    .profail-imag img{
        height: 44rem;
    }

    .home-social {
        top: 65rem;
    }

    .portfolio-card{
        gap: 4rem;
    }
}

@media (min-width: 948px) {
    
    .start{
        display: flex;
        height: 37.5rem;
    }

    .startPage{
        width: 50%;
    }

    .profail-imag{
        width: 50%;
    }

    .text-content{
        display: flex;
        gap: 1rem;
    }

    .home-social{
        top: 28rem;
        gap: 1.5rem;
    }

    .utbildning-erfarenhet{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

}

@media (min-width: 1219px) {
    .start{
        height: 53rem;
    }

    .startPage{
        height: 20rem;
    }

    .profail-imag img{
        height: 53rem;
        
    }

    .home-social{
        top: 40rem;
        gap: 2rem;
    }

    .startPage{
        margin-top: 15rem;
        margin-bottom: 4.5rem;
    }

    .portfolio-card{
        gap: 15rem;
    }

}