:root {
    --header-height: 3rem;
    --first-color-lighten: #fbf9f9;
    --first-color:#353434;

    --z-normal: 1;
    --z-tooltrip: 10;
    --z-fixed:100;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* heder and navigation */

header {
    position: fixed;
    background: black;
    color: var(--first-color-lighten);
    inset: 0;
    height: var(--header-height);
    transition: height 400ms;
    overflow-y: hidden;
    z-index: var(--z-fixed);
}

.upper-section {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    height: var(--header-height);
    justify-content: space-between;
}

.lower-section {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}

.nav-list {
    list-style: none;
    text-decoration: none;
    padding:0;
    margin: 0%;
    display: flex;
    flex-direction: column;
    font-size:x-large;
}

a {
    color: var(--first-color-lighten);
    transition: .3s;
}

a:hover{
    color: var(--first-color-lighten);
}

.nav-opt {
    margin: 0.5rem;
}

.open {
    height: 50%;
    background: black;
}

.inverted {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* scroll to top 'button' */

.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    background-color: rgb(123,111,113,.7);
    border-radius: 0.5rem;
    z-index: var(--z-tooltrip);
    transition: .4s;
    visibility: hidden;
}
.scrolltop:hover{
    background-color: var(--first-color);
}

.scrolltop_icon{
    font-size: 2rem;
    color: var(--first-color-lighten);
}

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}

/* start page */

.home {
    background: black;
    overflow: hidden;
}

.start{
    overflow: hidden;
    background-color: black;
    align-content: space-around;
    row-gap: 2rem;
    z-index: var(--z-tooltrip);
}

.startPage{
    height: 8rem;
    background: black;
    color: var(--first-color-lighten);
    padding-left: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 5.5rem;
    margin-bottom: 4.5rem;
    border-left: 4px solid var(--first-color-lighten);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-name {
    font-weight: bold;
}

.home-social {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1rem;
    top: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(123,111,113,.7);
    z-index: var(--z-tooltrip);
}

.home-social-icon {
    width: max-content;
    font-weight: 1.3rem;
    margin-bottom: 2rem;
    color: var(--first-color-lighten);
}

.profail-imag img {
    height: 24rem;
    width: 100%;
    background-image: url(./images/IMG_2715.jpeg);
    background-size: cover;
    z-index: var(--z-normal);
}

/* about me */

.om_mig {
    padding: 2rem;
}

.text-omMig {
    font-weight: bold;
}

/* experiens */

.Kompetens, .portfolio-text {
    font-weight: bold;
}

.utbildning-titel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gainsboro;
    padding-top: 2rem;
}

.utbildning-erfarenhet {
    padding: 2rem;
    background:gainsboro;
    display: flex;
    flex-direction: column;
}

.portfolio {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.content{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(128, 127, 127);
}

.erfarenheter {
    margin-top: 2rem;
}

/* portfolio */

.portfolio-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: var(--z-normal);
}

.card {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* footer */

.kontakta {
    padding: 2rem;
    background: black;
    color: white;
}

.kontakta-text{
    padding-bottom: 1rem;
    padding-left: 1.5rem;
}

.kontakta-social{
    display: flex;
    justify-content: space-evenly;
}

.kontakta-social_icon{
    margin: 0.3rem;
}
